<h1>People</h1>

<p><%= link_to 'New person', new_person_path %></p>

<ul>
  <% @people.each do |person| %>
    <li><%= person.given_names %> <%= person.surname %> <%= link_to 'INFO', person_path(person) %></li>
  <% end %>
</ul>